
.fixed-content {
  background: linear-gradient(45deg, #abd699b3, #75c9b7bd, #C7DDCC);
  padding-top: 5%;
  height: 100%;
  width: 100%;
  font-family: 'Inter Tight', sans-serif;
}

.bg-color{
  background-color: #16123f;
}

.navv{
  display: flex;
  justify-content: space-between;
  justify-content: right;
  font-family: 'Inter Tight', sans-serif;
} 

 .text-right {
  display:flex;
  justify-content: right;
  gap: 20px;
  /* box-sizing: content-box; */
 
}

.container-fluid {
  margin-left:auto;
  margin-top: 5%;
}

.card-body {
  background: rgba(255, 255, 255, 0.883);
}

.nav-link.active {
  text-decoration: underline;
} 
.main-div{
  display: flex;
  justify-content: space-around;

}
 
.div1{
  margin-top: 100px;
}
.fixed-content {
  width: 100%;
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: -8%;
  margin-top: -8%;
  background: repeating-linear-gradient(45deg, #16123F, #C7DDCC, #75C9B7, #FFE26A, #ABD699, #ABD699, #FFE26A, #75C9B7, #C7DDCC, #16123F);
  background-size: 500% 100%;
  animation: gradient 15s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.Auth-form {
  width: 700px;
  box-shadow: rgb(0 0 0 / 16%) 35px 35px 10px;
  padding-top: 30px;
  padding-bottom: 0;
  border-radius: 8px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/786/633/small_2x/soft-gradation-abstract-in-pastel-colorful-gradient-style-gradient-background-blurred-gradient-texture-decorative-elements-green-wallpaper-free-vector.jpg");
}

.Auth-form-content-head {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: left;
  margin-top: 4em;
  margin-bottom: 1em;
  font-size: 24px;
  color: #16123fe8;
  font-weight: 800;
}

.Auth-form-content-foot {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  color: #16123fe8;
  font-weight: 800;
  background-color: white;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 1em;
}

.Auth-form-body {
  text-align: left;
  margin-bottom: 4em;
}

.Auth-form-head {
  width: 100%
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #16123fe8;
}
.ed-div{
  display: flex;
  gap: 20px;
}
.my-btn{
  display: flex;
  gap: 20px;
}
.dash-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.fav{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  align-items:center;
}
